@import "../../global-variables";

.section-generating-box {
  display: flex;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-box {
  position: relative;
  background-color: $neutral-color-dark-grayish;
  max-width: 42rem;
  padding: 3rem;
  border-radius: 1rem;
}

.text-advice-number {
  color: $primary-color-neo-green;
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}

.text-advice {
  font-size: 2.2rem;
  font-weight: 800;
  color: $primary-color-cyan;
  margin-bottom: 2rem;
  text-align: center;
}

.text-advice:before {
  font-size: 2.2rem;
  content: open-quote;
}

.text-advice:after {
  content: close-quote;
}

.container-divider img {
  width: 100%;
  height: 1.4rem;
}

.container-divider {
  width: 100%;
  height: 1.4rem;
  margin-bottom: 3.2rem;
}

.button-icon-dice {
  display: flex;
  padding: 1.8rem;
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: $primary-color-neo-green;
  transform: translate(-50%, 50%);
  cursor: pointer;
  transition: all 0.3s;
}

.button-icon-dice:hover {
  background-color: #75ffb9;
  box-shadow: 0 0 2.4rem #75ffb9;
}

@media(max-width: 23.5em) {
  .section-generating-box {
    padding: 0 1.3rem;
  }
}
