$primary-color-cyan: hsl(193, 38%, 86%);
$primary-color-neo-green: hsl(150, 100%, 66%);

$neutral-color-grayish-blue: hsl(217, 19%, 38%);
$neutral-color-dark-grayish:hsl(217, 19%, 24%);
$neutral-color-dark-blue:hsl(218, 23%, 16%);
