<section class="section-generating-box" *ngIf="randomAdvice.advice !== ''">
  <div class="container-box">
    <p class="text-advice-number">advice #{{randomAdvice.id}}</p>

    <p class="text-advice"> {{randomAdvice.advice}}</p>

    <div class="container-divider">
      <img src="./assets/svg/pattern-divider-desktop.svg" alt="tip builder splitter">
    </div>

    <button class="button-icon-dice" (click)="getRandomAdvice()">
      <img src="./assets/svg/icon-dice.svg" alt="dice icon button">
    </button>
  </div>
</section>
